name=SplunkSink
topics=confluent-audit-log-events
tasks.max=1
connector.class=com.splunk.kafka.connect.SplunkSinkConnector
splunk.indexes=main
splunk.hec.uri=https://localhost:8089
splunk.hec.token=3bca5f4c-1eff-4eee-9113-ea94c284478a
splunk.sourcetypes=ccloud_audit_logs
confluent.topic.bootstrap.servers=${CLOUD_URL}
splunk.hec.ssl.validate.certs=false
confluent.topic.replication.factor=1
value.converter=org.apache.kafka.connect.storage.StringConverter

